<div class="page_content">
    <section class="main-section reservation-block container">
        <form #form method="get" class="row needs-validation reservation" [formGroup]="dataForm" (ngSubmit)="getDataForm(dataForm)">

            <div class="col-md-4 validate-me" #validationBlock>
                <label for="validationCustom01" class="form-label">Имя</label>
                <input #nameInput formControlName="firstName" type="text" ngModel class="form-control pattern" id="validationCustom01" name="firstName" (input)="textInput(nameInput)" placeholder="Имя" required>
            </div>
            <div class="col-md-4 validate-me">
                <label for="validationCustom02" class="form-label">Фамилия</label>
                <input #lastnameInput formControlName="lastName" type="text" ngModel class="form-control pattern" id="validationCustom02" name="lastName" (input)="textInput(lastnameInput)" placeholder="Фамилия" required>
            </div>
            <div class="col-md-4">
                <label for="validationCustom03" class="form-label">Отчество</label>
                <input #patronymicInput type="text" formControlName="patronymicName" ngModel class="form-control pattern no-validate" id="validationCustom03" name="patronymicName" (input)="textInput(patronymicInput)" placeholder="Отчество">
            </div>
            <div class="col-md-4">
                <label for="validationCustom04" class="form-label">Дата рождения</label>
                <input type="date" formControlName="birthday" class="form-control" id="validationCustom04" name="birthday" ngModel>
            </div>
            <div class="col-md-4 validate-me">
                <label for="validationCustom05" class="form-label">Количество гостей</label>
                <select formControlName="countOfGuests" class="custom-select ttt" id="validationCustom05" ngModel name="countOfGuests" required>
                    <option selected disabled value=''>Выберите...</option>
                    <option class="reservation__guest-item" value="0">1 гость</option>
                    <option class="reservation__guest-item" value="1">2 гостя</option>
                    <option class="reservation__guest-item" value="2">3 гостя</option>
                    <option class="reservation__guest-item" value="3">4 гостя</option>
                    <option class="reservation__guest-item" value="4">5 гостей</option>
                    <option class="reservation__guest-item" value="5">6 гостей</option>
                </select>
            </div>
            <div class="col-md-4 validate-me">
                <label for="validationCustom06" class="form-label">Тип номера</label>
                <select (change)="guestSelected()" ngModel class="custom-select" formControlName="roomTypeId" id="validationCustom06" name="roomTypeId" required>
                    <option selected disabled value="">Выберите...</option>
                    <option *ngFor="let room of rooms" value="{{room.roomTypeId}}">{{room?.roomTypeName}}</option>
                </select>
            </div>
    <div class="col-md-4 validate-me">
        <label for="validationCustom07" class="form-label">Дата заезда</label>
        <input type="date" formControlName="startDate" ngModel class="form-control" id="validationCustom07" name="startDate" required>
    </div>
    <div class="col-md-4 validate-me">
        <label for="validationCustom08" class="form-label">Дата выезда</label>
        <input type="date" formControlName="endDate" ngModel class="form-control" id="validationCustom08" name="endDate" required>
    </div>
    <div class="col-md-4" style="display: flex; align-items: center; column-gap: 0.5rem; margin-top: 1.5rem">
        <input type="checkbox" formControlName="withAnimal" ngModel class="custom-checkbox" id="validationFormCheck09" name="withAnimal">
        <label class="text" for="validationFormCheck09" style="margin-bottom: 0">Проживание с животными?</label>
    </div>
    <div class="col-md-4" >
        <button class="btn btn-primary" type="submit" (click)="formValidate()">Забронировать</button>
        <div class="reservation__invalid-field" *ngIf="validationBlock.classList.contains('was-validated') && dataForm.invalid">
            Пожалуйста, заполните обязательные поля.
        </div>
    </div>
        </form>
    </section>
</div>
